<h1>Welcome to Dice</h1>

<h2>Dice 1:</h2>

<p>
You rolled: <%= rand(1..6) %>
</p>

<h2>Dice 2:</h2>

<p>
You rolled: <%= rand(1..6) %>
</p>

<a href = "https://3000-vibhuvanjarikel-webapps-0sr3v5m04hn.ws-us117.gitpod.io/dice"> Roll Again!! </a>