<h1>ENTR451!</h1>

<h2>Tacos:</h2>

<%
tacos = ["Carnitas", "Pollo", "Fish", "Avocado"]
%>

<p>
There are so many tacos: <%= tacos.length %>
</p>

<ul>
  <li>Carnitas</li>
  <li>Pollo</li>
  <li>Fish</li>
  <li>Avocado</li>
</ul>