<!DOCTYPE html>
<html>
  <head>
    <title>StarterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <h1>Welcome!</h1>
  <a href ="/tacos">Tacos </a><br>
  <a href ="/dice">Dice </a><br>
  <a href ="/companies">Companies </a>
    <%= yield %>
  </body>
</html>
